<!DOCTYPE html>
<html>
<title>Bird Profile Page</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-ENULiIcN4gEjuDWK9S42fE2ljikToEw&libraries=places&callback=initMap"
        async defer></script>
<div class="form-group">
</div><br/>
  <body class="container py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class=" mb-4 d-flex align-items-center justify-content-center">
          <img src="<%= sighting.photo.replace('public', '')%>" class="img-thumbnail">
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="bg-light p-4 d-flex justify-content-center text-center flex-wrap">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mb-2 mb-md-0 mr-md-2">
            <button id="description_btn" class="btn btn-primary" class="hide">Description</button>
          </li>
          <li class="list-inline-item mb-2 mb-md-0 mr-md-2">
            <button id="comment_btn" class="btn btn-primary">Comment</button>
          </li>
          <li class="list-inline-item mb-2 mb-md-0 mr-md-2">
            <button id="location_btn" class="btn btn-primary">Location</button>
          </li>
          <li class="list-inline-item mb-2 mb-md-0 mr-md-2">
            <button id="identification_btn" class="btn btn-primary">Identification</button>
          </li>
        </ul>
      </div>
      <div id="description_text" class="px-2 py-2">
        <h5 class="mb-0">Description</h5>
        <div class="p-3 rounded shadow-sm bg-light">
          <p class="font-italic mb-0"><%=sighting.description%></p>
        </div>
      </div>
      <div id="comment_txt" class="px-2 py-2">
        <h5 class="mb-0">Comment</h5>
        <div class="p-3 rounded shadow-sm bg-light">
          <p class="font-italic mb-0">Comment Info</p>
        </div>
      </div>
      <div id="location_text" class="px-2 py-2">
        <h5 class="mb-0">Location</h5>
        <div class="p-3 rounded shadow-sm bg-light">
          <div id="map"  style="  width: 100%; height: 600px;  margin: auto;"></div>

          <p id="lat" hidden="true" class="font-italic mb-0"><%=sighting.latitude%></p>
          <p id="long" hidden="true" class="font-italic mb-0"><%=sighting.longitude%></p>

        </div>
      </div>
      <div id="identification_txt" class="px-2 py-2">
        <h5 class="mb-0">Identification</h5>
        <div id="identification_txt" class="p-3 rounded shadow-sm bg-light">
          <p class="font-italic mb-0"><%=sighting.identification%></p>
        </div>
      </div>
      <div class="container-lg">
        <div class="py-4 px-4">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="mb-0">Seen on: <%=sighting.dateTime%></h5>
          </div>
          <p class="text-muted">Recent users bla bla bla</p>
        </div>
      </div>
      <a href="#" class="btn btn-secondary btn-md text-left">Edit Sighting</a>
      <a href="/index" class="btn btn-secondary btn-md text-left">Back to Home</a>

      <br>
    </div>
  </div>
  </body>
</html>
<script>
  const tooltips = document.querySelectorAll('.tt')
  tooltips.forEach(t => {
    new bootstrap.Tooltip(t)
  })
  var description_btn = document.getElementById("description_btn");
  var comment_btn = document.getElementById("comment_btn");
  var description_txt = document.getElementById("description_text");
  var comment_txt = document.getElementById("comment_txt");
  var location_txt = document.getElementById("location_text");
  var identification_txt = document.getElementById("identification_txt");

  comment_txt.style.display="none";
  location_txt.style.display="none";
  identification_txt.style.display="none";
  description_txt.style.display="none";

  description_btn.addEventListener("click", function() {
    console.log("worked")
    description_txt.style.display="block";
    comment_txt.style.display="none";
    location_txt.style.display="none";
    identification_txt.style.display="none";
  });

  comment_btn.addEventListener("click", function() {
    comment_txt.style.display="block";
    description_txt.style.display="none";
    location_txt.style.display="none";
    identification_txt.style.display="none";
  });

  location_btn.addEventListener("click", function() {
    location_txt.style.display="block";
    description_txt.style.display="none";
    comment_txt.style.display="none";
    identification_txt.style.display="none";
  });

  identification_btn.addEventListener("click", function() {
    identification_txt.style.display="block";
    description_txt.style.display="none";
    location_txt.style.display="none";
    comment_txt.style.display="none";
  });
  function initMap() {
    let lat = <%=sighting.latitude%>;
    let lng =  <%=sighting.longitude%>;
    let center ={lat: lat, lng: lng}
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 9,
      center: center,
      draggable: true
    });
    var marker = new google.maps.Marker({
      position: center,
      map: map,
      title: 'Center'
    });
}
</script>