<!DOCTYPE html>
<html>
<title>Bird Profile Page</title>
<style></style>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-ENULiIcN4gEjuDWK9S42fE2ljikToEw&callback=initMap" async defer></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/javascripts/socket.js" defer></script>
<script src="/javascripts/bird.js" defer></script>

<nav class="navbar mb-4">
  <div class="container-fluid">
    <button class="navbar-toggler fs-1" type="button" onclick="window.history.back()">
      <i class="bi bi-arrow-left"></i>
    </button>
  </div>
</nav>
<div class="form-group"></div>
<br />
<body onload="init()" class="bg-light bg-gradient container py-4">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="mb-4 d-flex align-items-center justify-content-center">
        <img src="<%= sighting.photo.replace('public', '')%>" class="img-thumbnail" />
      </div>
    </div>
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <div class="bg-light p-4 d-flex justify-content-center text-center flex-wrap">
      <ul class="list-inline mb-0">
        <li class="list-inline-item mb-2 mb-md-0 mr-md-2">
          <button id="description_btn" class="btn btn-primary" class="hide">Description</button>
        </li>
        <li class="list-inline-item mb-2 mb-md-0 mr-md-2">
          <button id="comment_btn" class="btn btn-primary" onclick="connectToRoom()" value="<%=sighting.id%>">Chat</button>
        </li>
        <li class="list-inline-item mb-2 mb-md-0 mr-md-2">
          <button id="location_btn" class="btn btn-primary">Location</button>
        </li>
        <li class="list-inline-item mb-2 mb-md-0 mr-md-2">
          <button id="identification_btn" class="btn btn-primary">Identification</button>
        </li>
      </ul>
    </div>
    <div id="description_text" class="px-2 py-2">
      <h5 class="mb-0">Description</h5>
      <div class="p-3 rounded shadow-sm bg-light">
        <p class="mb-0"><%=sighting.description%></p>
      </div>
    </div>

    <div id="comment_txt" class="p-2">
      <h5 class="mb-0">Chat</h5>
      <div id="initial_form" class="text-center" style="display: block;">
        <form onsubmit="return false;"></form>
      </div>
      <div id="chat_window" class="shadow-sm bg-light" style="display: none;">
        <div id="chat_interface" style="display: none;">
          <div id="history" class="boxed"></div>
          <% comments.forEach(function(comment) { %>
          <div class="bottom boxed">
            <b><%=comment.nickname%>: </b>
            <%=comment.content%>
            <span class="justify-content-right font-weight-bold ">
              <%= ('(' + new Date(comment.datetime).toLocaleDateString('en-US', { day: '2-digit', month: '2-digit', year: 'numeric',
                hour: '2-digit', minute: '2-digit', hour12: false }) + ')') %></span>
          </div>
          <br>

          <% }); %>

          <div>
          </div>
        </div>
      </div>
      <form onsubmit="sendComment(); return false;">
        <div class="input-group">

          <input type="text" id="chat_input" name="chat_input" style="display: none;" class="form-control" placeholder="Type your message here..." />
          <div class="input-group-append">

            <button style="display: none;" id="chat_send" class="btn btn-primary" onclick="sendChatText()">Send</button>
          </div>
        </div>
      </form>
    </div>
    <div id="location_text" class="px-2 py-2">
      <h5 class="mb-0">Location</h5>
      <div class="p-3 rounded shadow-sm bg-light">
        <div id="map"  style="  width: 100%; height: 600px;  margin: auto;"></div>

        <p id="lat" hidden="true" class="font-italic mb-0"><%=sighting.latitude%></p>
        <p id="long" hidden="true" class="font-italic mb-0"><%=sighting.longitude%></p>

      </div>
    </div>
    <div id="identification_txt" class="px-2 py-2">
      <h5 class="mb-0">Identification</h5>
      <div id="identification_txt" class="p-3 rounded shadow-sm bg-light">
        <p class="mb-0"><%=sighting.identification%></p>
      </div>
    </div>
    <div class="container-lg">
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Seen on: <%=sighting.dateTime%></h5>
        </div>
        <p class="text-muted">Created by: <%=sighting.nickName%></p>
      </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="editModalLabel">Edit Sighting</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="editForm" enctype="application/x-www-form-urlencoded" method="POST" action="/bird/<%=sighting.id%>/edit">
              <div class="form-group">
                <label for="identification">Identification:</label>
                <input type="text" class="form-control" id="identification" name="identification" required value="<%=sighting.identification%>">
              </div><br/>

              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3" required><%=sighting.description%></textarea>
              </div><br/>

              <button type="submit" class="btn btn-primary">Edit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div>
      <button id="edit_button" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editModal">Edit Sighting</button>


      <a href="/index" class="btn btn-secondary btn-md text-left">Back to Home</a>
    </div>

    <br />
  </div>
</div>
</div>

</body>
</html>

<script>

  if (!sessionStorage.getItem("nickName")) {
    window.location.href = "/";
    alert("Please Field Your Nick Name.");
  }

  if (sessionStorage.getItem("nickName") != "<%=sighting.nickName%>") {
    edit_button= document.getElementById("edit_button").style.display = 'none';;
  }


  function initMap() {

    let lat = <%=sighting.latitude%>;
    let lng =  <%=sighting.longitude%>;
    let center ={lat: lat, lng: lng}
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 9,
      center: center,
      draggable: true
    });
    var marker = new google.maps.Marker({
      position: center,
      map: map,
      title: 'Center'
    });
  }
</script>