<!DOCTYPE html>
<html>
  <head>
    <title>List View</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJtnXvWVd_aeGOUN3Ei6k1q3_iOv142TE&libraries=geometry,places"></script>
      <script>
          if(!sessionStorage.getItem('nickName')) {
              window.location.href = '/';
              alert("Please Field Your Nick Name.")
          }
      </script>
  </head>
  <body class="bg-light bg-gradient">
    <nav class="navbar ">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <button class="btn btn-success " onclick="window.location.href='/create';">Add a sighting</button>
      </div>
    </nav>
    <h1 class="fw-bold mt-5">Sighting list</h1>
    <p class="fw-light">Find birds and build your life list</p>
    <!--    Sort Btn-->
    <div class="row">
<!--      <div class="btn-group col-4">-->
<!--        <button type="button" class="btn btn-secondary">-->
<!--          Most recently-->
<!--        </button>-->
<!--      </div>-->
      <div class="btn-group col-6">
        <button type="button" class="btn btn-secondary" onclick="sortByDate(<%=JSON.stringify(sightings)%>)">
          Most recently
        </button>
      </div>
      <div class="btn-group col-6">
        <button type="button" class="btn btn-secondary" onclick="sortByLocation(<%=JSON.stringify(sightings)%>)">
          Closest
        </button>
      </div>
    </div>
    <div id="sighting-container">
      <% sightings.forEach(function(sighting) { %>
        <div class="card mt-4">
          <div class="card-body row">
            <div class="col-2">
              <img src="<%= sighting.photo.replace('public', '') %>" class="img-thumbnail">
            </div>
            <div class="col-8">
              <h1><%= sighting.identification %></h1>
              <p class="m-0 p-0">Seen on <%= sighting.dateTime %></p>
              <p class="m-0 p-0">By <%= sighting.nickName %></p>
              <p class="m-0 p-0 text-primary"><%= parseFloat(sighting.latitude).toFixed(2) %>, <%= parseFloat(sighting.longitude).toFixed(2) %></p>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <a href="/bird/<%= sighting._id %>"><%= sighting.name %><i class="bi bi-arrow-right" style="font-size: 4rem"></i></a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>



    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/indexDb.js"></script>
    <script>
      <% if (successful_create) { %>
      alert("Successfully created new sighting!");
      <% } %>
    </script>
  </body>
</html>